<body>
    <div class="top">
        <button type="button" class="btn btn-light">projects</button>
        <button type="button" class="btn btn-light">task box</button>
        <button type="button" class="btn btn-light">ticket box</button>
        <button type="button" class="btn btn-light">notifications</button>
    </div>
    <div class="bottom">
        <button type="button" class="btn btn-light">settings</button>
        <button type="button" class="btn btn-light">log out</button>
    </div>
</body>